{% extends "patients/base.html" %}
{% load i18n %}

{% block title %}{% if patient.pk %}Edit{% else %}Create{% endif %} Participant{% endblock %}

{% block stylesheets %}{{ block.super }}
    {{ form.media.css }}
{% endblock %}

{% block javascripts %}{{ block.super }}
    {{ form.media.js }}
{% endblock %}

{% block content %}
<div class='module'>
    <h2>{% if patient.pk %}Participant - {{ patient.subject_number }}{% else %}New Participant {% endif %}</h2>
    <form action="." method="POST" class="buttons">
        {% csrf_token %}
        <table class="large">
            {{ form }}
        </table>
        <div class='form-action'>
            <input type='button' name='cancel' value='Cancel' />
            <input type='submit' name='submit' value="Save" />
        </div>
    </form>
</div>
{% endblock %}
